

/*==========  Mobile First Method  ==========*/

	/* Landscape phones and smaller */
@media (max-width: 480px) {
 body{background:#4CFF4C;}

}

/* Landscape phones and portrait tablets */
@media (min-width: 480px) and (max-width: 768px) {
 body{background:#A64CFF;} 
  

}

	/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
body{background:#008C46;}
}

	/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
 body{background:#DFBFFF;}

}


	/* Large desktops and laptops */ /* my desktop */
@media (min-width: 1200px) {
body{background:#DBDBEA;}

}